*{
    background-color: rgb(225, 219, 219);
    margin: 0px 0px;
}
#header {
    background-color: black;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    z-index: 1;
}
#div-1 {
    display: inline;
    background-color: black;
    color: white;
    padding-left: 40px;
    padding-right: 65vw;
}
.div-2 {
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;

}
.text-prop {
    color: white;
    background-color: black;
    text-decoration: none;
}
.text-prop:hover {
    color: rgb(28, 122, 194); 
}
.section-1, .section-2 {
    padding: 10px;
    position: relative;
    left: 27vw;
    width: 43vw;
    border-radius: 10px;
    background-color: white;
    /* width: 43vw; */
}
.section-2{
    line-height: 27px;
}
table,tr,td,th{
    background-color: white;
    border: 1px solid rgb(198, 191, 191);
    border-collapse: collapse;
    margin: 10px;
    padding: 10px;
}
#heading-1 {
    background-color: white;
    padding-right: 20px;
}
.input-box {
    width: 100%;
    background-color: white;
    border: 1px solid rgb(198, 191, 191);
    border-style: solid;
}
#register {
    padding: 5px;
    background-color: black;
    color: white;
}
.text-bg {
    background-color: white;
}